html, body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans;
	font-size: 16px;
	line-height: 1.4;
}

.section {
	background-color: #ededed;
	padding: 8% 20px;
}
.section-inner {
	max-width: 900px;
	width: 100%;
	margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Poppins", "Helvetica Neue", "Helvetica", Arial, sans;
	color: #211E1A;
	 line-height: 1.2;
}
h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 3rem; }
h4, h5, h6 { font-size: 1.8rem; }
h5 { opacity: 0.65; }
p, li, span, td { font-size: 1.4rem; }

.red {
	color: #AE2141;
}
.clear {
	clear: both;
}

header {
	position: absolute;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #AE2141;
	text-transform: uppercase;
	font-weight: bold;
}

.header-inner {
	max-width: 900px;
	width: 100%;
	margin: auto;
}
#logo {
	font-size: 0.85rem;
	width: 300px;
	clear: both;
	float: left;
	padding-top: 1rem;
}
#logo span {
	font-size: inherit;
}
#menu {
	float: right;
}
#menu ul {
	margin: 0;
	padding: 0;
}
#menu ul li {
	display: inline-block;
}
#menu ul li.contact a {
	border: 1px solid;
	border-radius: 3rem;
}
#menu ul li a {
	font-size: 0.85rem;
	display: block;
	float: left;
	padding: 1rem 1.25rem;
	margin-right: 1rem;
}

.cta a {
	text-decoration: none;
	color: inherit;
	font-size: 1.2rem;
	opacity: 0.6;
}

.cta .action {
	color: #AE2141;
}

.section .cta {
	margin-top: 3rem;
}
.section .cta a {
	color: inherit;
	border-bottom: 1px solid;
	border-width: 0 0 1px 0;
	padding-bottom: 3px;
}


#home_lead.section {
	background-color: #211E1A;
	padding-top: 10%;
}
#home_lead.section h1 {
	color: #fff;
}
#home_lead.section p {
	color: #a7a7a7;
}
#home_lead.section .cta {
	color: #fff;
	text-decoration: initial;
}
#home_lead.section .section-inner {

}

#home_lead-follow.section,
#home_partner.section,
#home_recommendations.section {
	background-color: #fff;
}
#home_partner.section {
    text-align: center;
}
#home_mapping.section {
	background-color: #211E1A;
}
#home_mapping.section h2 {
	color: #fff;
}
#home_mapping.section p {
	color: #a7a7a7;
}
#home_mapping.section .cta {
	color: #fff;
}
