html, body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", "Helvetica Neue", "Helvetica", Arial, sans;
	font-size: 16px;
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
	color: #211E1A;
	line-height: 1.2;
	font-weight: 400;
}
h1, h2, h3 {
	letter-spacing: -1px;
}
h1 { font-size: 4.8rem; line-height: 1; }
h2 { font-size: 4rem; }
h3 { font-size: 3rem; }
h4, h5, h6 { font-size: 1.8rem; line-height: 1.4; font-weight: normal; }
h5 { font-size: 1.4rem; }
p, li, td { font-size: 1.4rem; }
a {
	color: inherit;
}

@media screen and (max-width: 900px) {
	h1 { font-size: 3.6rem; line-height: 1; }
}
@media screen and (max-width: 660px) {
	h1 { font-size: 2.4rem; line-height: 1.2; }
	h2 { font-size: 2rem; }
	h3 { font-size: 2rem; }
	h4, h5, h6 { font-size: 1.4rem; line-height: 1.3;  }
	h5 { opacity: 0.65; font-size: 1.3rem; }
	p, li, td { font-size: 1.2rem; }
}

.red { /*color: #AE2141 !important;*/ color: #de3158 !important; }
.white { color: #fff; }
.fff { color: #fff !important; }
.right { text-align: right; }
.normal { font-weight: normal; }
.clear { clear: both; }
.underline { text-decoration: underline; }
.italic { font-style: italic;}
.bold {	font-weight: bold;}
.bold400 { font-weight: 400; }
.bold500 { font-weight: 500; }
.nomargin { margin: 0; }
.nopad { padding: 0; }
.small { font-size: 0.8rem; }
hr.thick {
	border-width: 5px;
	border-style: solid;
}
img { max-width: 100%; height: auto; vertical-align: middle; }


header {
	position: absolute;
	width: 100%;
	padding: 0;
	color: #fff;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans;
}
.header-inner {
	max-width: 900px;
	width: 100%;
	margin: auto;
	padding: 2rem 0;
	box-sizing: border-box;
}
@media screen and (max-width: 950px) {
	.header-inner {
		padding: 2rem 20px;
	}
}
#logo {
	font-size: 1rem;
	padding: 5px 10px;
	border: 3px solid;
	float: left;
	margin-top: 0.3rem;
	margin-right: 1rem;
}
#logo a {
	text-decoration: none;
}
#logo span {
	font-size: inherit;
}
#menu {
	float: right;
}
#menu ul {
	margin: 0;
	padding: 0;
}
#menu ul li {
	display: inline;
}
#menu ul li.contact a {
	color: #de3158;
}
#menu ul li a {
	font-size: 0.85rem;
	display: block;
	float: left;
	padding: 1rem 0 0.25rem;
	margin-right: 1.6rem;
	color: inherit;
	text-decoration: none;
}
@media screen and (max-width: 660px) {
	#menu ul li a {
		margin-right: 1rem;
	}	
}
#menu ul li a.active {
	border: 1px solid #de3158;
	border-width: 0 0 1px 0;
}

/* Sections */
.section {
	background-color: #ededed;
	padding: 8% 20px;
	clear: both;
}
.section-inner {
	max-width: 900px;
	width: 100%;
	margin: auto;
	position: relative;
}
.section.center {
    text-align: center;
}
.section h5 {
	opacity: 0.65;
}
.section.lead {
	padding-top: 10%;
}
@media screen and (max-width: 660px) {
	.section.lead {
		padding-top: 8rem;
	}	
}
.section p.xl {
	font-size: 4rem;
}
@media screen and (max-width: 660px) {
	.section p.xl {
		font-size: 2rem;
	}	
}
.section.nopad {
	padding: 0;
}

.section.brown {
	/*background-color: #211E1A;*/
	background-color: #272522;
}
.section.lead.brown h1 {
	color: #de3158;
}
.section.brown h2 {
    color: #fff;
}
.section.brown p,
.section.brown h4 {
    color: #e2d2cc;
}
.section.brown .cta {
	color: #fff;
	text-decoration: initial;
}

.section.gray {
	background-color: #ededed;	
}

.section.white {
	background-color: #fff;	
}
.section.white {
	color: #211E1A;
}

.section .cta .action {
	color: #de3158;
}

.section .cta {
	margin-top: 3rem;
}
.section .cta a {
	text-decoration: none;
	font-size: 1rem;
	opacity: 0.8;
	color: inherit;
	border-bottom: 1px solid;
	border-width: 0 0 1px 0;
	padding-bottom: 2px;
}

.section.recommendations .position {
	display: none;
}

/* Footer */
#footer_foot {
	color: #fff;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans;
}
footer .section.split-img img {
	max-width: 90%;
}
@media screen and (max-width: 800px) {
	#footer_contact .contact-dots {
		display: none;
	}
}


/* Home */
#stories {
	width: 90%;
	margin: 2rem auto auto;
}
#stories .story {
	display: flex;
	border-top: 1px solid #e5e5e5;
}
#stories .story .client {
	width: 25%;
}
#stories .story .task {
	width: 70%;
	font-size: 1rem;
}
@media screen and (max-width: 800px) {
	#stories .story .client {
		white-space: nowrap;
	}	
	#stories .story .task {
		margin-top: 4rem;
	}	
}
#stories .story .lpad {
	padding-left: 1rem;
}

.section.lead {
	background-image: url('img/red-dots-lg.png');
	background-repeat: no-repeat;
	background-position: 170% center;
	background-size: 50%;
}

/* Who */
#principals_lead-follow .brand-images {
	width: 80%;
	margin: auto;
	vertical-align: middle;
	text-align: center;
}
#principals_lead-follow .brand-images img {
	vertical-align: middle;
	margin: 0 1rem;
}

/* Split image bg */
.section.split-img {
	height: 200px;
}
.section.split-img .section-inner {
	max-width: 100%;
}
.section.split-img img {
	z-index: 2;
	margin: auto auto auto 10%;
	display: block;
	position: absolute;
}
.section.split-img span.splitter {
	position: absolute;
    display: block;
    height: 95px;
    width: 100%;
    background: #fff;
    z-index: 1;
}
