html, body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", "Helvetica Neue", "Helvetica", Arial, sans;
	font-size: 16px;
	line-height: 1.4;
}

.section {
	background-color: #ededed;
	padding: 8% 20px;
}
.section-inner {
	max-width: 900px;
	width: 100%;
	margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	color: #211E1A;
	line-height: 1.2;
	font-weight: 500;
}
h1, h2, h3 {
	letter-spacing: -1px;
}
h1 { font-size: 3.6rem; }
h2 { font-size: 3rem; }
h3 { font-size: 3rem; }
h4, h5, h6 { font-size: 1.8rem; line-height: 1.4; font-weight: normal; }
h5 { opacity: 0.65; font-size: 1.4rem; }
p, li, span, td { font-size: 1.4rem; }


@media screen and (max-width: 660px) {
	h1 { font-size: 2.4rem; line-height: 1.2; }
	h2 { font-size: 2rem; }
	h3 { font-size: 2rem; }
	h4, h5, h6 { font-size: 1.4rem; line-height: 1.2;  }
	h5 { opacity: 0.65; font-size: 1.2rem; }
	p, li, span, td { font-size: 1.2rem; }
}

.red {
	color: #AE2141 !important;
}
.clear {
	clear: both;
}
.underline {
	text-decoration: underline;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}

header {
	position: absolute;
	width: 100%;
	padding: 0;
	color: #fff;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans;
}
.header-inner {
	max-width: 900px;
	width: 100%;
	margin: auto;
	padding: 2rem 0;
	box-sizing: border-box;
}
@media screen and (max-width: 950px) {
	.header-inner {
		padding: 2rem 20px;
	}
}
#logo {
	font-size: 1rem;
	padding: 5px 10px;
	border: 3px solid;
	float: left;
	margin-top: 0.3rem;
	margin-right: 1rem;
}
#logo span {
	font-size: inherit;
}
#logo span span {
	/*opacity: 0.65;*/
	/*color: #da7aa6;*/
}
#menu {
	float: right;
}
#menu ul {
	margin: 0;
	padding: 0;
}
#menu ul li {
	display: inline;
}
#menu ul li.contact a {
	color: #AE2141;
}
#menu ul li a {
	font-size: 0.85rem;
	display: block;
	float: left;
	padding: 1rem 0 0.25rem;
	margin-right: 1.6rem;
	color: inherit;
	text-decoration: none;
}
@media screen and (max-width: 660px) {
	#menu ul li a {
		margin-right: 1rem;
	}	
}
#menu ul li a.active {
	border: 1px solid #AE2141;
	border-width: 0 0 1px 0;
}

.cta a {
	text-decoration: none;
	color: inherit;
	font-size: 1.2rem;
	opacity: 0.6;
}

.cta .action {
	color: #AE2141;
}

.section .cta {
	margin-top: 3rem;
}
.section .cta a {
	color: inherit;
	border-bottom: 1px solid;
	border-width: 0 0 1px 0;
	padding-bottom: 3px;
	margin-right: 10px;
}


#home_lead.section {
	background-color: #211E1A;
	padding-top: 10%;
}
@media screen and (max-width: 660px) {
	#home_lead.section {
		padding-top: 8rem;
	}	
}
#home_lead.section h1 {
	color: #AE2141;
}
#home_lead.section h4 {
	color: #a7a7a7;
}
#home_lead.section .cta {
	color: #fff;
	text-decoration: initial;
}

#home_lead-follow.section,
#home_partner.section,
#home_recommendations.section {
	background-color: #fff;
}
#home_partner.section {
    text-align: center;
}
#home_mapping.section {
	background-color: #211E1A;
}
#home_mapping.section h2 {
	color: #fff;
}
#home_mapping.section p {
	color: #a7a7a7;
}
#home_mapping.section .cta {
	color: #fff;
}
#home_mapping.section .cta a {
	opacity: 1;
}
